src/wsdl/localhost_12345/IDC/fileService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://fileservice.webservice.idc.ruesse.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://fileservice.webservice.idc.ruesse.net/" name="FileServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://fileservice.webservice.idc.ruesse.net/" schemaLocation="http://localhost:12345/IDC/fileService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="upload">
<part name="parameters" element="tns:upload"></part>
</message>
<message name="uploadResponse">
<part name="parameters" element="tns:uploadResponse"></part>
</message>
<message name="download">
<part name="parameters" element="tns:download"></part>
</message>
<message name="downloadResponse">
<part name="parameters" element="tns:downloadResponse"></part>
</message>
<message name="lastbackup">
<part name="parameters" element="tns:lastbackup"></part>
</message>
<message name="lastbackupResponse">
<part name="parameters" element="tns:lastbackupResponse"></part>
</message>
<message name="listbackups">
<part name="parameters" element="tns:listbackups"></part>
</message>
<message name="listbackupsResponse">
<part name="parameters" element="tns:listbackupsResponse"></part>
</message>
<portType name="FileServiceImpl">
<operation name="upload">
<input wsam:Action="http://fileservice.webservice.idc.ruesse.net/FileServiceImpl/uploadRequest" message="tns:upload"></input>
<output wsam:Action="http://fileservice.webservice.idc.ruesse.net/FileServiceImpl/uploadResponse" message="tns:uploadResponse"></output>
</operation>
<operation name="download">
<input wsam:Action="http://fileservice.webservice.idc.ruesse.net/FileServiceImpl/downloadRequest" message="tns:download"></input>
<output wsam:Action="http://fileservice.webservice.idc.ruesse.net/FileServiceImpl/downloadResponse" message="tns:downloadResponse"></output>
</operation>
<operation name="lastbackup">
<input wsam:Action="http://fileservice.webservice.idc.ruesse.net/FileServiceImpl/lastbackupRequest" message="tns:lastbackup"></input>
<output wsam:Action="http://fileservice.webservice.idc.ruesse.net/FileServiceImpl/lastbackupResponse" message="tns:lastbackupResponse"></output>
</operation>
<operation name="listbackups">
<input wsam:Action="http://fileservice.webservice.idc.ruesse.net/FileServiceImpl/listbackupsRequest" message="tns:listbackups"></input>
<output wsam:Action="http://fileservice.webservice.idc.ruesse.net/FileServiceImpl/listbackupsResponse" message="tns:listbackupsResponse"></output>
</operation>
</portType>
<binding name="FileServiceImplPortBinding" type="tns:FileServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="upload">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="download">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="lastbackup">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listbackups">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="FileServiceImplService">
<port name="FileServiceImplPort" binding="tns:FileServiceImplPortBinding">
<soap:address location="http://localhost:12345/IDC/fileService"></soap:address>
</port>
</service>
</definitions>